.decklist {
	font-family: sans-serif;
	font-size: 14px;
	display: table-row;
	border-collapse: separate;
}

.decklist .column {
	display: table-cell;
	border-top: 4px outset #869BBF;
	border-bottom: 4px outset #869BBF;
	border-left: 1px outset #869BBF;
	border-right: 1px outset #869BBF;
	float: none;
	width: inherit;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.decklist .column:first-child {
	border-left: 4px outset #869BBF;
}

.decklist .column:last-child {
	border-right: 4px outset #869BBF;
}

.decklist .column .section {
	font-weight: bold;
	color: #373737;
	font-size: 14px;
	margin-bottom: 1px;
	margin-top:30px;
}

.decklist .column .section:first-child {
	margin-top:15px;
}

.decklist .card a {
	color: #286014;
	font-weight: bold;
}

.iltt a img{
	max-width: 233px;
	max-height: 310px;
}