.decklist {
	font-family: sans-serif;
	font-size: 14px;
	display: table-row;
	border-collapse: separate;
}

.title {
	display: table-caption;
	border-top: 4px solid #869BBF;
	border-left: 4px solid #869BBF;
	border-right: 4px solid #869BBF;
	-webkit-margin-start: 1px;
	-webkit-margin-end: 1px;
	background: #869BBF;
}

.title h2 {
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.decklist .column {
	display: table-cell;
	border-top: 4px solid #869BBF;
	border-bottom: 4px solid #869BBF;
	border-left: 1px solid #869BBF;
	border-right: 1px solid #869BBF;
	float: none;
	width: inherit;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.decklist .column:first-child {
	border-left: 4px solid #869BBF;
}

.decklist .column:last-child {
	border-right: 4px solid #869BBF;
}

.decklist .column .section {
	font-weight: bold;
	color: #373737;
	font-size: 14px;
	margin-bottom: 1px;
	margin-top:30px;
}

.decklist .column .section:first-child {
	margin-top:15px;
}

.decklist .card a {
	color: #286014;
	font-weight: bold;
}

.iltt a img{
	max-width: 233px;
	max-height: 310px;
}

.decklist .count {
	margin-right: 3px;
}

* {
  margin: 0;
  padding: 0;
}